.fe-table {
  .ngx-datatable {
    max-width: 85vw;
    max-height: 85vh;

    @media (max-width: 600px) {
      max-width: 90vw;
      max-height: 80vh;
    }

    .datatable-body-cell,
    .datatable-header-cell {
      display: inline-flex;
      align-items: center;
    }

    .datatable-body {
      .progress-linear {
        display: block;
        position: relative;
        width: 100%;
        height: 5px;
        padding: 0;
        margin: 0;
        position: absolute;
      }
      .progress-linear .container {
        display: block;
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 5px;
        -webkit-transform: translate(0, 0) scale(1, 1);
        transform: translate(0, 0) scale(1, 1);
        background-color: #aad1f9;
        
        .bar {
          transition: all 0.2s linear;
          -webkit-animation: query 0.8s infinite cubic-bezier(0.39, 0.575, 0.565, 1);
          animation: query 0.8s infinite cubic-bezier(0.39, 0.575, 0.565, 1);
          transition: -webkit-transform 0.2s linear;
          transition: transform 0.2s linear;
          background-color: #106cc8;
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          width: 100%;
          height: 5px;
        }
        /**
             * Progress bar animations
             */
        @keyframes query {
          0% {
            opacity: 1;
            transform: translateX(35%) scale(0.3, 1);
          }
          100% {
            opacity: 0;
            transform: translateX(-50%) scale(0, 1);
          }
        }
      }
    }
  }

}
