@mixin position($xPos, $yPos) {
  position: fixed;
  top: $yPos;
  left: $xPos;
  transform: translate(-50%, -50%);
}

.page {
  @include position(50%, 50%);
}

.links {
  @include position(90%, 90%);
  display: flex;
  gap: 20px;

  .repository {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    img {
      width: 50px;
      height: 50px;
    }
  
    @media (max-width: 600px) {
      display: none;
    }
  }
}